*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, "Courier New", Courier, monospace;
}

.container {
  width: 70vw;
  margin: 2rem auto 0 auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
}
